<section>
    <h2>Create New Post</h2>

    <form class='new-post-form'>
        <div>
            <label for='post-title'>Title</label>
            <input type='text' id='post-title'
        </div>
    </form>
</section>